.carousel .carousel-indicators li {
    width:30px;
    height: 5px;
    border-radius: 50%
}
	

.navbar
{
	background-color: teal;
	display: flex;
	flex-direction: row;

}
.text-teal{
	color:teal;
}
	
	
